<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="false" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAny">
                <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
            <rule name="Remove .php" enabled="true" stopProcessing="true">
                <match url="^(.*)$" ignoreCase="true" />
                    <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
                    </conditions>
                <action type="Rewrite" url="{R:0}.php" />
            </rule>
      </rules>
    </rewrite>
    <security>
        <requestFiltering removeServerHeader="true">
            <requestLimits maxAllowedContentLength="21474836" />
            <verbs allowUnlisted="true">
                <add verb="OPTIONS" allowed="false" />
            </verbs>
        </requestFiltering>
    </security>
         <httpProtocol>
            <customHeaders>
               <clear />
               <add name="Cache-Control" value="no-store, must-revalidate, no-cache, max-age=0" />
               <add name="X-Xss-Protection" value="0" />
               <add name="X-Content-Type-Options" value="nosniff" />
               <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
               <add name="Strict-Transport-Security" value="max-age=63072000;" />
               <add name="Permissions-Policy" value="display-capture=(),accelerometer=(),autoplay=(),camera=(),display-capture=(),document-domain=(),encrypted-media=(),fullscreen=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),midi=(),payment=(),picture-in-picture=(),publickey-credentials-get=(),screen-wake-lock=(),sync-xhr=(self),usb=(),web-share=(),xr-spatial-tracking=()" />
               <add name="X-Permitted-Cross-Domain-Policies" value="none" />
               <add name="Cross-Origin-Embedder-Policy" value="unsafe-none" />
               <add name="Cross-Origin-Opener-Policy" value="same-origin" />
               <add name="Cross-Origin-Resource-Policy" value="same-origin" />
               <add name="Report-To" value="{&#34;group&#34;:&#34;csp-endpoint&#34;,&#34;max_age&#34;:10886400,&#34;endpoints&#34;:[{&#34;url&#34;:&#34;https://waf-demo.sunwellsolutions.com/csp-report;&#34;}]}" />
               <add name="Content-Security-Policy" value="upgrade-insecure-requests;default-src 'none';style-src 'self' 'unsafe-inline';script-src 'self' https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js;img-src 'self' ;font-src 'self';form-action 'self';frame-ancestors 'none';frame-src 'self';child-src 'self';connect-src 'self';base-uri 'self';object-src 'none';media-src 'self';manifest-src 'self';worker-src 'self';report-uri https://waf-demo.sunwellsolutions.com/csp-report;;" />
               <remove name="X-Powered-By" />
            </customHeaders>
            <redirectHeaders>
               <clear />
            </redirectHeaders>
         </httpProtocol>
          <staticContent>
            <mimeMap fileExtension="webp" mimeType="image/webp" />
        </staticContent>
        <!--
         <httpErrors errorMode="Custom" defaultResponseMode="File">
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" path="/errors/401.php" responseMode="ExecuteURL" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" path="/errors/403.php" responseMode="ExecuteURL" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" path="/errors/404.php" responseMode="ExecuteURL" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" path="/errors/500.php" responseMode="ExecuteURL" />
            <remove statusCode="502" subStatusCode="-1" />
            <error statusCode="502" path="/errors/502.php" responseMode="ExecuteURL" />
            <remove statusCode="503" subStatusCode="-1" />
            <error statusCode="503" path="/errors/503.php" responseMode="ExecuteURL" />
        </httpErrors>
        -->
  </system.webServer>
</configuration>